@import url(./components/card_row.css);
@import url(./components/filter_rooms.css);

.base-filter-search {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.filter-rooms {
  margin: 0 auto;
}

.filter-rooms .room {
  width: 320px;
}

.search-container-page {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

.search-input-page {
  width: 1000px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  transition: width 0.7s ease;
  margin: 0 auto;
}

.container-result-search {
  flex: 1;
  max-width: 1400px;
  margin: 0 auto; 
  padding-top: 50px; 
  height: auto;
}

.container-result-search .card-row-container {
  width: 100%;
}

.container-result-search .alertSearch {
  text-align: center;
  margin: 50px;
  display: none;
}

.container-result-search .numberpage {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.container-result-search .numberpage .number {
  font-size: 20px;
  color: rgb(70, 70, 70);
}

.container-result-search .numberpage #prev-page,
.container-result-search .numberpage #next-page {
  color: gray;
  padding: 5px 15px;
}

@media (max-width: 1300px) {
  .search-container{
    width: 90%;
  }
}
