<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/assets/main.css">
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <div class="container">
        <div class="login">
            <h2>Login</h2>
            <form action="http://localhost/projeto_quimica/controller/controller_auth.php" method="post">
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="senha" placeholder="Senha" required>
                <input type="submit" class="button" value="ENTRAR">
                <!--
                <a href="" class="forgot-password">Esqueceu sua senha?</a>
                <a href="login.html" class="button">ENTRAR</a>
                -->
            </form>
        </div>
        <div class="register">
            <h2>Hello, amigo!</h2>
            <p>Insira seus dados pessoais e comece a viagem conosco</p>
            <a href="cadastro.html" class="button">CADASTRE-SE</a>
        </div>
    </div>
</body>
</html>
